---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.svelte";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("exhibits"))
	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
	.toReversed();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
			}

			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
				transition: 0.2s ease;
			}
			ul li a {
				display: block;
			}
			span {
				display: flex;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
				position: relative;
			}
			.date {
				position: relative;
				margin: 0;
				color: rgb(var(--gray));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header client:load />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/exhibits/${post.slug}/`}>
									<img
										width={720}
										height={360}
										alt={post.data.description}
										src={post.data.image}
										decoding="async"
										loading="lazy"
										class={
											"aspect-[2/1] object-cover skeleton skeleton-loading"
										}
										style={`object-position: ${post.data.offset};`}
									/>
									<span>
										<h4 class="title">{post.data.title}</h4>
									</span>
									<span>
										<p class="date">
											<FormattedDate date={post.data.pubDate} />
										</p>
									</span>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
